<div class="fondo">
  <div class = "container">
    <app-barra-superior></app-barra-superior>
    <div class="row principal">
      <div class="row">
        <div class="col s12 m6 l6 titulo ">
            <h4>Catálogo de Productos</h4>
        </div>
        <div class="col s12 m4 l4 offset-m2 offset-l2 buscador right-align">
            <h5>Qué estas buscando?</h5>
            <input type="text" id="patron">
        </div>
      </div>
      <hr>
      <div class = "row productos">
        <div *ngFor="let item of productos" class="producto">
          <img src= "../../../assets/{{item.nombre}}.jpg" alt="">
          <h5 class="nombre">{{item.nombre}}</h5>
          <span><b>Precio : ${{item.precio}} </b></span><br>
          <span><b>Unidades disponibles : {{item.unidades}}</b></span>
          <div>
            <a  [routerLink]="['/main/detalle',item.nombre]" class="waves-effect waves-light btn-small btn-detalle">Ver mas</a>
            <a class="waves-effect waves-light btn-small btn-añadir-carrito">Añadir</a>
            <input type="number" id="cantidad" min="0" max="100" >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

