.fondo
{
  background: url("assets/main-fondo.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
}

.principal
{
  background-color: white;
  padding : 10px;
  margin-top: 20px;
}

#patron
{
  width: 80%;
}

.productos
{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  height: 55vh;
  overflow-y:scroll;
}

.producto
{
  width: 24.5%;
  border: 1px solid #5B92D9;
  box-shadow: 3px 3px 6px #C2C2C2;
  padding: 3px;
  background-color: #F2F2F2;
  min-height: 80% !important;
  margin-top: 10px;
}

.producto img{
  width: 100%;
  height: 50%;
}

.nombre
{
  text-transform: capitalize;
}


.btn-detalle, .btn-añadir-carrito
{
  width :35%;
  white-space:normal !important;
  padding: 0px;
}



#cantidad
{
  width :25%;
}

@media only screen and (max-width: 650px)
{
  #patron
  {
    width: 50%;
  }

  .titulo
  {
    text-align: center
  }

  .buscador
  {
    text-align: center
  }

  .producto
  {
    width: 48%;
  }
}

@media only screen and (min-width: 651px) and (max-width: 1100px)
{
  .producto
  {
    width: 33%;
  }
}

