<div class="fondo">
  <div class = "container">
    <div class="row valign-wrapper contenedor">
      <div class="col s12 m6 login">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)" validate>
          <h4 class="center white-text">Iniciar Sesion</h4>
          <h6 class="white-text">Correo Electrónico:</h6>
          <input type="email" class="white" [(ngModel)]="user.email" id="email" (keydown)="Update_error()" required #email="ngModel" [ngModelOptions]="{standalone: true}">
          <h6 class="white-text">Contraseña</h6>
          <input type="password" class="white" [(ngModel)]="user.password" id="pass" required #pass="ngModel" (keydown)="Update_error()" [ngModelOptions]="{standalone: true}">
          <label class="error red-text" *ngIf="error_login">Usuario no valido</label>
          <div class="center-align">
              <button class="btn waves-effect waves-light" type="submit" name="action">Ingresar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
